@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
    margin: 0; /*바깥 여백*/
    padding: 0; /*d안쪽여백*/
    box-sizing: border-box;
    
}

body{
    background: white; /*body 태그 배경*/
    color:black; /*배경 색*/
    text-shadow: 1px 1px 0 lightgray;/* 글씨 그림자 */
    font-size: 16px;/* 글씨 사이즈 */
    line-height: 160%;/* 행간 */
    letter-spacing: -1px; /* 자간 */
    font-family: 'Do Hyeon', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    margin: 20px auto;
    width: 20%;
}

nav ul{
    display: flex;
}

nav ul li{
    flex: 1;
    list-style:none; /*li태그 블릿 없앰 */
    text-align: center;
    padding: 5px;
}

nav ul li a{
    padding: 10px 20px;
    background: lightsteelblue;
    border-radius: 15px; /*모서리 동그랗게*/
    transition: 0.5s;
}

nav ul li a:hover{
    background:palevioletred;
}

article{
    text-align: center; /*글씨 가운데 정렬 */
    position: relative;
    top: 50px;
}

h1{
    font-size: 3em;
    margin-top: 200px;
}

.main{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join{
    margin-top: 160px;
    margin-left: 20px;
}

.login{
    margin-top: 250px;
}

table{
    text-align: left;
    margin: 20px auto;
}

td{
    padding: 3px;
}

footer{
    background: lightpink;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}